body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(85, 9, 156);
}

h1{
    color: white;
}

.tela-interacao{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem 0.8rem;
    border-radius: 10px;
    box-shadow: 5px 5px 25px black;
}

button:hover{
    background-color: rgb(204, 198, 198);
}

option{
    color: black;
}
